In [ ]:
# todo normalization

In [3]:
%matplotlib inline 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

from sklearn import preprocessing
from sklearn.ensemble.forest import RandomForestRegressor
from sklearn.metrics import *

# file1 = 'D:/PYworks/MaveV20/mave/data/12.csv'
EnFile = 'D:/WORKS/BEAR WORKS/100EnerNOCCommercialBuildings/csv/12.csv'
# dateparse = lambda x: pd.datetime.strptime(x, '%Y/%m/%d %H:%M')
# Chw05_Rm26 = pd.read_csv(file1, parse_dates = ['Date'], date_parser=dateparse, header=0)

EnOriTable = pd.read_csv(EnFile, header=0)
EnOriTable.index = pd.to_datetime(EnOriTable['dttm_utc'])
EnOriTable.dttm_utc = pd.to_datetime(EnOriTable.dttm_utc).dt.strftime('%m/%d/%Y %H:%M')
EnOriTable

                      timestamp          dttm_utc    value  estimated  anomaly
dttm_utc
2012-01-01 00:05:00  1325376300  01/01/2012 00:05  27.0053          0      NaN
2012-01-01 00:10:00  1325376600  01/01/2012 00:10  25.0049          0      NaN
2012-01-01 00:15:00  1325376900  01/01/2012 00:15  26.0051          0      NaN
2012-01-01 00:20:00  1325377200  01/01/2012 00:20  25.0049          0      NaN
2012-01-01 00:25:00  1325377500  01/01/2012 00:25  27.0053          0      NaN
2012-01-01 00:30:00  1325377800  01/01/2012 00:30  25.0049          0      NaN
2012-01-01 00:35:00  1325378100  01/01/2012 00:35  27.0053          0      NaN
2012-01-01 00:40:00  1325378400  01/01/2012 00:40  25.0049          0      NaN
2012-01-01 00:45:00  1325378700  01/01/2012 00:45  26.0051          0      NaN
2012-01-01 00:50:00  1325379000  01/01/2012 00:50  25.0049          0      NaN
2012-01-01 00:55:00  1325379300  01/01/2012 00:55  26.0051          0      NaN
2012-01-01 01:00:00  1325379600  01/01/2012 01:00  25.0049          0      NaN
2012-01-01 01:05:00  1325379900  01/01/2012 01:05  27.0053          0      NaN
2012-01-01 01:10:00  1325380200  01/01/2012 01:10  26.0051          0      NaN
2012-01-01 01:15:00  1325380500  01/01/2012 01:15  26.0051          0      NaN
2012-01-01 01:20:00  1325380800  01/01/2012 01:20  25.0049          0      NaN
2012-01-01 01:25:00  1325381100  01/01/2012 01:25  26.0051          0      NaN
2012-01-01 01:30:00  1325381400  01/01/2012 01:30  25.0049          0      NaN
2012-01-01 01:35:00  1325381700  01/01/2012 01:35  26.0051          0      NaN
2012-01-01 01:40:00  1325382000  01/01/2012 01:40  26.0051          0      NaN
2012-01-01 01:45:00  1325382300  01/01/2012 01:45  25.0049          0      NaN
2012-01-01 01:50:00  1325382600  01/01/2012 01:50  27.0053          0      NaN
2012-01-01 01:55:00  1325382900  01/01/2012 01:55  24.0047          0      NaN
2012-01-01 02:00:00  1325383200  01/01/2012 02:00  25.0049          0      NaN
2012-01-01 02:05:00  1325383500  01/01/2012 02:05  25.0049          0      NaN
2012-01-01 02:10:00  1325383800  01/01/2012 02:10  26.0051          0      NaN
2012-01-01 02:15:00  1325384100  01/01/2012 02:15  25.0049          0      NaN
2012-01-01 02:20:00  1325384400  01/01/2012 02:20  25.0049          0      NaN
2012-01-01 02:25:00  1325384700  01/01/2012 02:25  25.0049          0      NaN
2012-01-01 02:30:00  1325385000  01/01/2012 02:30  26.0051          0      NaN
...                         ...               ...      ...        ...      ...
2012-12-31 21:35:00  1356989700  12/31/2012 21:35  36.0071          0      NaN
2012-12-31 21:40:00  1356990000  12/31/2012 21:40  37.0073          0      NaN
2012-12-31 21:45:00  1356990300  12/31/2012 21:45  35.0069          0      NaN
2012-12-31 21:50:00  1356990600  12/31/2012 21:50  34.0067          0      NaN
2012-12-31 21:55:00  1356990900  12/31/2012 21:55  37.0073          0      NaN
2012-12-31 22:00:00  1356991200  12/31/2012 22:00  35.0069          0      NaN
2012-12-31 22:05:00  1356991500  12/31/2012 22:05  35.0069          0      NaN
2012-12-31 22:10:00  1356991800  12/31/2012 22:10  34.0067          0      NaN
2012-12-31 22:15:00  1356992100  12/31/2012 22:15  34.0067          0      NaN
2012-12-31 22:20:00  1356992400  12/31/2012 22:20  35.0069          0      NaN
2012-12-31 22:25:00  1356992700  12/31/2012 22:25  35.0069          0      NaN
2012-12-31 22:30:00  1356993000  12/31/2012 22:30  35.0069          0      NaN
2012-12-31 22:35:00  1356993300  12/31/2012 22:35  34.0067          0      NaN
2012-12-31 22:40:00  1356993600  12/31/2012 22:40  35.0069          0      NaN
2012-12-31 22:45:00  1356993900  12/31/2012 22:45  36.0071          0      NaN
2012-12-31 22:50:00  1356994200  12/31/2012 22:50  33.0065          0      NaN
2012-12-31 22:55:00  1356994500  12/31/2012 22:55  33.0065          0      NaN
2012-12-31 23:00:00  1356994800  12/31/2012 23:00  34.0067          0      NaN
2012-12-31 23:05:00  1356995100  12/31/2012 23:05  34.0067          0      NaN
2012-12-31 23:10:00  1356995400  12/31/2012 23:10  33.0065          0      NaN
2012-12-31 23:15:00  1356995700  12/31/2012 23:15  31.0061          0      NaN
2012-12-31 23:20:00  1356996000  12/31/2012 23:20  35.0069          0      NaN
2012-12-31 23:25:00  1356996300  12/31/2012 23:25  31.0061          0      NaN
2012-12-31 23:30:00  1356996600  12/31/2012 23:30  34.0067          0      NaN
2012-12-31 23:35:00  1356996900  12/31/2012 23:35  34.0067          0      NaN
2012-12-31 23:40:00  1356997200  12/31/2012 23:40  27.0053          0      NaN
2012-12-31 23:45:00  1356997500  12/31/2012 23:45  31.0061          0      NaN
2012-12-31 23:50:00  1356997800  12/31/2012 23:50  33.0065          0      NaN
2012-12-31 23:55:00  1356998100  12/31/2012 23:55  32.0063          0      NaN
2013-01-01 00:00:00  1356998400  01/01/2013 00:00  32.0063          0      NaN

[105407 rows x 5 columns]

In [32]:
# test the function of numpy 'where' and index. better to use pandas index
EnOriTable.index.get_loc('2012-12-31 23:45:00')
EnOri = EnOriTable.values
a = (np.where(EnOri==u'01/01/2012 00:15'))[0][0]
# a[0]
aa = EnOri[:a]
bb = EnOriTable.iloc[a]
# aa = EnOri[np.where(EnOri==u'01/01/2012 00:15')[0]:]
# print a[1][0]
# print len(a)
print a
print aa
print bb

2
[[1325376300L u'01/01/2012 00:05' 27.0053 0L nan]
 [1325376600L u'01/01/2012 00:10' 25.0049 0L nan]]
timestamp          1325376900
dttm_utc     01/01/2012 00:15
value                 26.0051
estimated                   0
anomaly                   NaN
Name: 2012-01-01 00:15:00, dtype: object

In [4]:
WeaFile = 'D:/WORKS\BEAR WORKS/100EnerNOCCommercialBuildings/weather/NY.csv'
WeaOriTable = pd.read_csv(WeaFile, header=0)
WeaOriTable.index = pd.to_datetime(WeaOriTable['DateTime'])
WeaOriTable

                             DateTime  Temp  RelHum
DateTime
2012-01-01 03:00:00     2012/1/1 3:00   5.6    0.95
2012-01-01 09:00:00     2012/1/1 9:00   5.6    0.88
2012-01-01 15:00:00    2012/1/1 15:00   8.9    0.76
2012-01-01 21:00:00    2012/1/1 21:00   7.8    0.85
2012-01-02 03:00:00     2012/1/2 3:00   7.8    0.95
2012-01-02 09:00:00     2012/1/2 9:00  10.0    0.92
2012-01-02 15:00:00    2012/1/2 15:00   8.3    0.51
2012-01-02 21:00:00    2012/1/2 21:00   5.0    0.50
2012-01-03 03:00:00     2012/1/3 3:00   4.4    0.44
2012-01-03 09:00:00     2012/1/3 9:00   1.1    0.53
2012-01-03 15:00:00    2012/1/3 15:00   1.1    0.49
2012-01-03 21:00:00    2012/1/3 21:00  -1.7    0.55
2012-01-04 03:00:00     2012/1/4 3:00  -5.0    0.59
2012-01-04 09:00:00     2012/1/4 9:00  -7.8    0.67
2012-01-04 15:00:00    2012/1/4 15:00  -6.7    0.64
2012-01-04 21:00:00    2012/1/4 21:00  -4.4    0.49
2012-01-05 03:00:00     2012/1/5 3:00   1.7    0.66
2012-01-05 09:00:00     2012/1/5 9:00   0.0    0.68
2012-01-05 15:00:00    2012/1/5 15:00   1.1    0.63
2012-01-05 21:00:00    2012/1/5 21:00   2.8    0.59
2012-01-06 03:00:00     2012/1/6 3:00   1.7    0.51
2012-01-06 09:00:00     2012/1/6 9:00   0.0    0.58
2012-01-06 15:00:00    2012/1/6 15:00   3.9    0.64
2012-01-06 21:00:00    2012/1/6 21:00   8.9    0.79
2012-01-07 03:00:00     2012/1/7 3:00   8.3    0.86
2012-01-07 09:00:00     2012/1/7 9:00   6.1    0.92
2012-01-07 15:00:00    2012/1/7 15:00  10.6    0.89
2012-01-07 21:00:00    2012/1/7 21:00   8.9    0.89
2012-01-08 03:00:00     2012/1/8 3:00   8.3    0.89
2012-01-08 09:00:00     2012/1/8 9:00   5.0    0.67
...                               ...   ...     ...
2012-12-24 15:00:00  2012/12/24 15:00   3.9    0.54
2012-12-24 21:00:00  2012/12/24 21:00   2.2    0.63
2012-12-25 03:00:00   2012/12/25 3:00   2.2    0.72
2012-12-25 09:00:00   2012/12/25 9:00   5.0    0.92
2012-12-25 15:00:00  2012/12/25 15:00   7.8    0.92
2012-12-25 21:00:00  2012/12/25 21:00   5.0    0.92
2012-12-26 03:00:00   2012/12/26 3:00   2.8    0.85
2012-12-26 09:00:00   2012/12/26 9:00   2.2    0.72
2012-12-26 15:00:00  2012/12/26 15:00   3.9    0.66
2012-12-26 21:00:00  2012/12/26 21:00   3.3    0.72
2012-12-27 03:00:00   2012/12/27 3:00   4.4    0.89
2012-12-27 09:00:00   2012/12/27 9:00   8.3    0.92
2012-12-27 15:00:00  2012/12/27 15:00  11.1    0.96
2012-12-27 21:00:00  2012/12/27 21:00   8.3    1.00
2012-12-28 03:00:00   2012/12/28 3:00   1.1    0.92
2012-12-28 09:00:00   2012/12/28 9:00   0.6    0.77
2012-12-28 15:00:00  2012/12/28 15:00   0.0    0.65
2012-12-28 21:00:00  2012/12/28 21:00   2.2    0.61
2012-12-29 03:00:00   2012/12/29 3:00   1.1    0.69
2012-12-29 09:00:00   2012/12/29 9:00  -3.9    0.87
2012-12-29 15:00:00  2012/12/29 15:00   1.7    0.78
2012-12-29 21:00:00  2012/12/29 21:00   5.6    0.91
2012-12-30 03:00:00   2012/12/30 3:00   3.3    0.96
2012-12-30 09:00:00   2012/12/30 9:00   0.6    0.84
2012-12-30 15:00:00  2012/12/30 15:00  -0.6    0.75
2012-12-30 21:00:00  2012/12/30 21:00   0.0    0.58
2012-12-31 03:00:00   2012/12/31 3:00  -2.2    0.52
2012-12-31 09:00:00   2012/12/31 9:00  -3.3    0.54
2012-12-31 15:00:00  2012/12/31 15:00   1.1    0.53
2012-12-31 21:00:00  2012/12/31 21:00   1.1    0.69

[1464 rows x 3 columns]

In [ ]:
# WeaOriTable.DateTime = pd.to_datetime(EnOriTable.dttm_utc).dt.strftime('%m/%d/%Y %H:%M')
Wea5mTable = WeaOriTable.resample(rule='5T',label='right',closed='right').asfreq().interpolate(method='linear')
Wea5mTable

In [5]:
# use the timestep of the weather data
X = WeaOriTable['Temp'].values.reshape(-1, 1)
y = EnOriTable.loc[WeaOriTable.index]['value'].values.reshape(-1, 1)
Tr = np.append(X, y, axis=1)
print Tr

[[ 5.6    25.0049]
 [ 5.6    25.0049]
 [ 8.9    27.0053]
 ...
 [-3.3    24.0047]
 [ 1.1    39.0077]
 [ 1.1    37.0073]]

In [ ]:
changepoints = pd.to_datetime('2012-4-1')
index_change = WeaOriTable[WeaOriTable.index<changepoints].shape[0]
max_depth = 30

X_train = X[:index_change]
y_train = y[:index_change].reshape(-1, 1)

X_test = X[index_change:]
y_test = y[index_change:].reshape(-1, 1)

# preprocessing for zero mean and unit variance
Scaler_train = preprocessing.StandardScaler().fit(X_train)

print 'the count of row and cloumn for the training data are :', X_train.shape,y_train.shape
print 'the count of row and cloumn for the test data are :', X_test.shape,y_test.shape
regr_rf = RandomForestRegressor(max_depth=max_depth, random_state=2)
regr_rf.fit(X_train, y_train)
 
y_rf = regr_rf.predict(X_test)
print y_rf
plt.scatter(y_test, y_rf, edgecolor='k', c="navy", marker="s", label="Data")
line=np.linspace(0, 80, 100)
plt.plot(line,0.9 * line,'b--')
plt.plot(line,1.1 * line,'b--')
plt.xlim([0, 80])
plt.ylim([0, 80])
print r2_score(y_test,y_rf)
print mean_squared_error(y_test,y_rf)
print explained_variance_score(y_test,y_rf)

In [ ]:
# use the timestep of the weather data
# add feature to weather data
X = WeaOriTable['Temp'].values.reshape(-1, 1)
X = np.append(X,np.roll(X,-1),axis=1 )
X = np.append(X,np.roll(X[:,0].reshape(-1, 1),-2),axis=1 )
# print X

y = EnOriTable.loc[WeaOriTable.index]['value'].values.reshape(-1, 1)
# print y

changepoints = pd.to_datetime('2012-4-1')
index_change = WeaOriTable[WeaOriTable.index<changepoints].shape[0]
max_depth = 30

X_train = X[:index_change]
y_train = y[:index_change].reshape(-1, 1)

X_test = X[index_change:]
y_test = y[index_change:].reshape(-1, 1)

print 'the count of row and cloumn for the training data are :', X_train.shape,y_train.shape
print 'the count of row and cloumn for the test data are :', X_test.shape,y_test.shape
regr_rf = RandomForestRegressor(max_depth=max_depth, random_state=2)
regr_rf.fit(X_train, y_train)
 
y_rf = regr_rf.predict(X_test)
print y_rf
plt.scatter(y_test, y_rf, edgecolor='k', c="navy", marker="s", label="Data")
line=np.linspace(0, 80, 100)
plt.plot(line,0.9 * line,'b--')
plt.plot(line,1.1 * line,'b--')
plt.xlim([0, 80])
plt.ylim([0, 80])
print r2_score(y_test,y_rf)
print mean_squared_error(y_test,y_rf)
print explained_variance_score(y_test,y_rf)

In [ ]:
# use the timestep of the weather data
# add feature to weather data
X = Wea5mTable['Temp'].values.reshape(-1, 1)
X = np.append(X,np.roll(X,-1),axis=1 )
X = np.append(X,np.roll(X[:,0].reshape(-1, 1),-2),axis=1 )
print X

y = EnOriTable.loc[Wea5mTable.index]['value'].values.reshape(-1, 1)
print y

changepoints = pd.to_datetime('2012-10-1')
index_change = Wea5mTable[Wea5mTable.index<changepoints].shape[0]
max_depth = 30

X_train = X[:index_change]
y_train = y[:index_change].reshape(-1, 1)

X_test = X[index_change:]
y_test = y[index_change:].reshape(-1, 1)

print 'the count of row and cloumn for the training data are :', X_train.shape,y_train.shape
print 'the count of row and cloumn for the test data are :', X_test.shape,y_test.shape
regr_rf = RandomForestRegressor(max_depth=max_depth, random_state=2)
regr_rf.fit(X_train, y_train)
 
y_rf = regr_rf.predict(X_test)
print y_rf
plt.scatter(y_test, y_rf, edgecolor='k', c="navy", marker="s", label="Data")
line=np.linspace(0, 80, 100)
plt.plot(line,0.9 * line,'b--')
plt.plot(line,1.1 * line,'b--')
plt.xlim([0, 80])
plt.ylim([0, 80])
# print r2_score(y_test,y_rf)
# print mean_squared_error(y_test,y_rf)
# print explained_variance_score(y_test,y_rf)

In [ ]:
# DataFrame({'Column1':data[:,0],'Column2':data[:,1]})


# Data5m = pd.DataFrame( {
#     'LocalDateTime': EnOriTable.loc[Wea5mTable.index]['dttm_utc']
#     ,'EnergyConsumption':EnOriTable.loc[Wea5mTable.index]['value']
#     ,'OutsideDryBulbTemperature':Wea5mTable['Temp']
# })
Data5m = pd.concat([EnOriTable.loc[Wea5mTable.index]['dttm_utc']
                    ,EnOriTable.loc[Wea5mTable.index]['value']
                    ,Wea5mTable['Temp']]
                   ,axis=1, keys=['LocalDateTime', 'EnergyConsumption','OutsideDryBulbTemperature'])


Data5m.to_csv('D:/PYworks/MaveV20/mave/data/Data12_In5m.csv',index=False)

# Data5m.to_cvs('D:/PYworks/MaveV20/mave/data/Data12_In5m.csv',index=False, sep=',')

# DataFrame().reset_index(drop=True)

# concat([X['c'], df2['c']], axis=1, keys=['df1', 'df2'])

In [ ]:
changepoints = pd.to_datetime('2012-10-1')
index_change = Wea5mTable[Wea5mTable.index<changepoints].shape[0]
max_depth = 30

X_train = X[:index_change]
y_train = y[:index_change].reshape(-1, 1)

X_test = X[index_change:]
y_test = y[index_change:].reshape(-1, 1)

print 'the count of row and cloumn for the training data are :', X_train.shape,y_train.shape
print 'the count of row and cloumn for the test data are :', X_test.shape,y_test.shape
regr_rf = RandomForestRegressor(max_depth=max_depth, random_state=2)
regr_rf.fit(X_train, y_train)
 
y_rf = regr_rf.predict(X_test)
print y_rf
plt.scatter(y_test, y_rf, edgecolor='k', c="navy", marker="s", label="Data")
line=np.linspace(0, 80, 100)
plt.plot(line,0.9 * line,'b--')
plt.plot(line,1.1 * line,'b--')
plt.xlim([0, 80])
plt.ylim([0, 80])
# print r2_score(y_test,y_rf)
# print mean_squared_error(y_test,y_rf)
# print explained_variance_score(y_test,y_rf)

In [ ]:
WeaOriTable.asfreq(freq='30t')

In [ ]:
# aa = WeaOriTable.resample(rule='5T').asfreq().interpolate(method='linear')
aa = EnOriTable.resample(rule='3H',label='right',closed='right').asfreq()
aa.asfreq(freq='6H')
# aa = aa.drop(pd.Timestamp('2012-01-01 00:00:00'))
# bb = aa.resample(rule='6H',label='right',closed='left').asfreq()
# bb

In [ ]:
cc = EnOriTable.drop(['timestamp','estimated','anomaly'],axis=1)
cc['temp']=aa.Temp
cc.to_csv('D:/PYworks/MaveV20/mave/data/123.csv')
cc

In [ ]:
samples = 366*24*12
# samples
ClgSeason = pd.date_range('2012-01-01 0:05:00',periods = samples, freq = '5T')
ClgSeason=pd.to_datetime( ClgSeason,format = '%Y-%m-%d %H:%M' )
ClgSeason

In [ ]:
# add feature to weather data
X = WeaOriTable.loc[ClgSeason]['Temp'].values.reshape(-1, 1)
X = np.append(X,np.roll(X,-1),axis=1 )
X = np.append(X,np.roll(X[:,0].reshape(-1, 1),-2),axis=1 )
X

In [ ]:
y = EnOriTable.loc[ClgSeason]['value'].values
y

In [ ]:
dd.to_csv('D:/PYworks/MaveV20/mave/data/122.csv')
dd

In [ ]:
aa = EnOriTable.drop(EnOriTable.index[EnOriTable.index < '2012-01-01 03:00:00'])

bb = aa.resample('6H')
bb

In [ ]:
bb = aa.resample('6H')
bb

In [ ]:
new = EnOriTable.resample('3H')
new

In [ ]:
changepoints = pd.to_datetime('2012-6-30')
B = changepoints- ClgSeason[0]
print 'the number of training days is: ', B.days
index_change = B.days*4

max_depth = 30

X_train = X[:index_change]
y_train = y[:index_change].reshape(-1, 1)
X_test = X[(index_change+1):]
y_test = y[(index_change+1):].reshape(-1, 1)

print 'the count of row and cloumn are :', X_train.shape
regr_rf = RandomForestRegressor(max_depth=max_depth, random_state=2)
regr_rf.fit(X_train, y_train)
 
y_rf = regr_rf.predict(X_test)
print y_rf
plt.scatter(y_test, y_rf, edgecolor='k',
            c="navy", marker="s", label="Data")
line=np.linspace(0, 80, 100)
plt.plot(line,0.9 * line,'b--')
plt.plot(line,1.1 * line,'b--')
plt.xlim([0, 80])
plt.ylim([0, 80])

In [ ]:
WeaExtTable = WeaOriTable.resample(rule='30T').asfreq().interpolate(method='linear')
WeaExtTable

In [ ]:
R
# add feature to weather data
X = WeaOriTable.loc[ClgSeason]['Temp'].values.reshape(-1, 1)
X = np.append(X,np.roll(X,-1),axis=1 )
X = np.append(X,np.roll(X[:,0].reshape(-1, 1),-2),axis=1 )
X